# Proyecto Individual #1

> Data06 - Zapata, María Belén

Queries

---

### Importo objetos relevantes:

In [4]:
#Importo librerías
from fastapi import FastAPI, HTTPException
import pandas as pd
from pandasql import sqldf

In [5]:
#Cargo el dataset en una variable
df = pd.read_csv("movies_completo.csv")

In [6]:
#reviso que se haya cargado correctamente:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,score,ID,duration_int,duration_type
0,s1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,99,as1,113.0,min
1,s2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,37,as2,110.0,min
2,s3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,20,as3,74.0,min
3,s4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",27,as4,69.0,min
4,s5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,75,as5,45.0,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22993,s8803,movie,zodiac,david fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",united states,2019-11-20,2007,r,158 min,"cult movies, dramas, thrillers","a political cartoonist, a crime reporter and a...",20,ns8803,158.0,min
22994,s8804,tv show,zombie dumb,NaN,NaN,NaN,2019-07-01,2018,tv-y7,2 seasons,"kids' tv, korean tv shows, tv comedies","while living alone in a spooky town, a young g...",8,ns8804,2.0,season
22995,s8805,movie,zombieland,ruben fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",united states,2019-11-01,2009,r,88 min,"comedies, horror movies",looking to survive in a world taken over by zo...,55,ns8805,88.0,min
22996,s8806,movie,zoom,peter hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",united states,2020-01-11,2006,pg,88 min,"children & family movies, comedies","dragged from civilian life, a former superhero...",7,ns8806,88.0,min
22997,s8807,movie,zubaan,mozez singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",india,2019-03-02,2015,tv-14,111 min,"dramas, international movies, music & musicals",a scrappy but poor boy worms his way into a ty...,44,ns8807,111.0,min

---

ATENCION: todas estas prubas se hacen localmente.

---

### Consigna - Queries objetivo

1- Cantidad de veces que aparece una keyword en el título de peliculas/series, por plataforma.

In [11]:
#Defino la función que ejecutará la query:
def get_word_count(plataforma: str, keyword: str):
    #Lectura de la base de datos:
    df = pd.read_csv("movies_completo.csv")

    #Definición de las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")
    
    #QUERY:
    query = f"SELECT COUNT(title) FROM df WHERE title LIKE '%{keyword}%' AND id LIKE '{plat}'"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)
    
    #Se verifica el contenido de la variable. En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No se pudo encontrar la keyword solicitada.")

In [12]:
#Reviso que la query funcione, con parametros de ejemplo:
get_word_count("netflix", "love")

{'COUNT(title)': {0: 196}}

2- Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año.

In [13]:
def get_score_count(plataforma: str, puntaje: int, ano: int):
    #Lectura de la base de datos:
    df = pd.read_csv("movies_completo.csv")
    
    #Defino las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")
    
    #Fuerzo el cambio a str
    puntaje = str(puntaje)
    ano = str(ano)

    #QUERY:
    query = f"SELECT COUNT(title) FROM df WHERE id LIKE '{plat}' AND type == 'movie' AND score > {puntaje} AND release_year == {ano}"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)
    
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No hay peliculas con ese puntaje, en ese año, en esta plataforma.")

In [14]:
#Reviso que la query funcione, con parametros de ejemplo:
get_score_count('netflix',85,2010)

{'COUNT(title)': {0: 20}}

3- La segunda película con mayor score para una plataforma determinada, según el orden alfabético de los títulos.

In [15]:
def get_second_score(plataforma: str):
    #Lectura de la base de datos:
    df = pd.read_csv("movies_completo.csv")
    
    #Defino las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")
    
    #QUERY:
    query = f"SELECT title FROM df WHERE id like '{plat}' and type=='movie' ORDER BY score DESC, title LIMIT 1 OFFSET 1"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)

    # Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No se han encontrado peliculas.")

In [16]:
#Reviso que la query funcione, con parametros de ejemplo:
get_second_score("amazon")

{'title': {0: 'abilene town'}}

4- Película que más duró según año, plataforma y tipo de duración.

In [17]:
def get_longest(plataforma: str, duration_type: str, ano: int):
    #Lectura de la base de datos:
    df = pd.read_csv("movies_completo.csv")

    #Defino las plataformas:
    if plataforma == "amazon":
        plat = "a%"
    elif plataforma == "disney":
        plat = "d%"
    elif plataforma == "hulu":
        plat = "h%"
    elif plataforma == "netflix":
        plat = "n%"
    else:
        return ("Plataforma incorrecta. Las opciones son: amazon, disney, hulu, netflix. Recuerde escribir todo en minúsculas.")
    
    #QUERY:
    query = f"SELECT title, release_year, duration_int, duration_type FROM df WHERE id like '{plat}' and release_year='{ano}' and duration_type='{duration_type}' ORDER BY duration_int DESC LIMIT 1"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)
    
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #Si la variable no tiene contenido:
    else:
        return ("No se han encontrado peliculas.")

In [18]:
#Reviso que la query funcione, con parametros de ejemplo:
get_longest('netflix','min',2016)

{'title': {0: 'sairat'},
 'release_year': {0: 2016},
 'duration_int': {0: 173.0},
 'duration_type': {0: 'min'}}

5- Cantidad de series y películas por rating.

In [19]:
def get_rating_count(rating: object):
    #Lectura de la base de datos:
    df = pd.read_csv("movies_completo.csv")

    #QUERY:
    query = f"SELECT rating, count(*) as count FROM df WHERE rating = '{rating}' GROUP BY rating"
    #Se guarda el resultado en una nueva variable, dándole el formato sql:
    result = sqldf(query)
    
    #Se verifica el contenido de la variable "result". En caso de no estar vacío:
    if not result.iloc[0,0] == 0:
        return result.to_dict() #retorna los datos solicitados en la consulta, como un diccionario.
    #en caso de que no se encuentre el rating solicitado:
    else:
        return("No se ha encontrado ese rating.")

In [20]:
#Reviso que la query funcione, con parametros de ejemplo:
get_rating_count('18+')

{'rating': {0: '18+'}, 'count': {0: 1243}}

---